body {
    font-weight:bold;
    font-style: italic;
    background: orange;
    margin-left:15px;
    background-color: red;
    position: relative;
    -webkit-animation-name: example;
    -webkit-animation-duration: 4s;
    -webkit-animation-iteration-count: infinite;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    text-align: center
}
.lol{
    background:red;
    color:yellow;
    margin-left:5px;}
#mope{font-size: 200%;
    background:red;
    color:yellow;}
#mope2{font-size: 200%;
    background:red;
    color:yellow;}
#mope3{font-size: 200%;
    background:red;
    color:yellow;}
#mope4{font-size: 200%;
    background:red;
    color:yellow;}
#poop{font-size:300%;
    background:gold;
    border-radius:30px;
    margin-left:3px;
    color:red;}
#ay{color:red;}
.Kobe{
    background:red;
    color:yellow;
    margin-left:5px;}
#wth1{font-size: 200%;
    background:red;
    color:yellow;}
#wth2{font-size: 200%;
    background:red;
    color:yellow;}
#wth3{font-size: 200%;
    background:red;
    color:yellow;}


@-webkit-keyframes example {
    0%   {background-color:red;}
    25%  {background-color:yellow;}
    50%  {background-color:orange;}
    75%  {background-color:green;}
    100% {background-color:blue;}}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: 1px solid #555;
    background-color: gold;
    font-size: x-large;
    position:fixed;
    bottom:0;
    width:1880px;
    background-color:azure;}
li{text-align: center;
    border-bottom: 1px solid #555;}
li a {
    display:block;
    width: 60px;
}
#yahoo{
    text-align:center;
    font-size:40px;
}
#gmail{margin: auto;border: 1px solid black}
#dur{
    text-align: left;
}
ol{background-color:yellow}
